{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}

<main role="main">

  <!-- Main section for our company's introduction -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Discover Our Journey!</h1>
      <p>Welcome to Our Nav-Ecommerce Pvt Ltd., a leading electronic commerce enterprise headquartered in Bengaluru, India. Founded by Naveen Shukla in 2021, we started our journey with a primary focus on sales and later diversified into various product categories, including consumer electronics, fashion, and lifestyle products.</p>
      
      <p>With a mission to provide exceptional service, we compete vigorously with key players such as Amazon's Indian subsidiary and our domestic rival Snapdeal. As of March 2017, we proudly held a significant 39.5% market share in India's booming e-commerce industry. Our expertise extends to dominating the apparel sector, solidified by strategic acquisitions of Myntra and Jabong.com. In the realm of electronics and mobile phones, we stand 'neck and neck' with global giant Amazon. Additionally, we are proud owners of PhonePe, a mobile payments service built on the Unified Payments Interface (UPI).</p>

      <p>Our journey took a remarkable turn in August 2018 when the U.S.-based retail giant Walmart acquired a 77% controlling stake in Our Company for an impressive US$16 billion, valuing us at an astounding $22 billion.</p>
      
      <p><a class="btn btn-warning btn-lg" href="#" role="button">Learn more about Our Vision »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Our Values</h2>
        <p>Discover the values that drive us: integrity, innovation, and customer satisfaction. We believe in delivering quality products and unparalleled service to our customers.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Explore Values »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Our Commitment</h2>
        <p>Committed to excellence, we strive to exceed expectations. Learn more about our dedication to continuous improvement and providing the best for our customers.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Our Commitment »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Join Our Team</h2>
        <p>We're always on the lookout for talented individuals who share our passion. Explore career opportunities and be a part of the Our Company family.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Join Us »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}
